<!DOCTYPE html>
<html>
  <head>
    {%load static%}
    <title>Lin - The Linear Equations solver</title>
    <meta name="viewport" content="width=device-width, height=device-height,initial-scale=1.0">
    <meta name="theme-color" content="#49b86a"/>
    <link rel="icon" href="{%static 'Linicon.jpg'%}" type="image/jpeg"/>
    <link rel="stylesheet" href="{%static 'bulma-0.9.0/css/bulma.min.css'%}" type="text/css" media="all" />
    <link rel="stylesheet" href="{%static 'iconfont/material-icons.css'%}" type="text/css" media="all" />
    <link rel="stylesheet" href="{%static 'style.css'%}" type="text/css" media="all" />
    <!--script src="{%static 'eruda.min.js'%}"></script>-->
    <style type="text/css" media="all">
      .hidden{
        display: none;
        visibility: hidden;
      }
    </style>
  </head>
  <body>
    {%csrf_token%}
    <!--script>eruda.init();</script>-->
    <div id="body">
      <div id="help-panel-bg" class="hidden">
        <div class="">
          <button class="button is-danger is-circle" @click='hideHelp()'><i class="material-icons">close</i></button>
          <div class="container main-container">
            <h4 class="blue-grey-text" style="font-size:1.4em">About</h4>
            <div>
              <h5>Welcome to Lin!</h5>
              <div class="blue-grey-text">
                This is a linear equation solver app. How to use? Quite easy. On loading this page, two equation fields have been provided for you already. Two fields are the minimum number of fields you can have. This app is capable of solving a large number of system linear equations (although it'll obviously take more time for larger inputs).
                
                Once you're done filling the fields, click '=' on the footer to display the results.
                <p><b><u>NOTE:</u></b>
                </p>
                <ul>
                  <li>Empty fields are not tolerated. Please remove all empty fields if this is to work smoothly.</li>
                  <li>Does not automatically simplify any of the expressions nor does it collect 'like terms'. As of now please do that yourself.</li>
                </ul>
                <p><b>Please report bugs to <a href="mailto:francisali692@gmail.com" class="red-text">francisali692@gmail.com.</a></b></p>
                <p>-----------</p>
                <p>Go get started!</p>
                <br/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="help" class="is-small tea-text" @click="showHelp()"><i class="material-icons">help_outline</i></div>
      <header>
        <span class="niconne green-text whitse-text"><h4>Lin</h4></span>
        <p class="niconne green-text whitbe-text"> The Linear Equations solver</p>
      </header>
      <div class="container">
        <div class="block sserif">
          <br/>
          <h4 class="blue-grey-text">Equations:</h4>
          <br>
        </div>
      </div>
      <div class="container" id="equations-block">
        
        <equation-input v-for="i in eqncount" :eqid="i"></equation-input>
        
        <br/>
        <div class="block">
          <button id="clear-all" class="button white-text is-danger is-filled" @click="wipe()"><i class="material-icons small">close</i>Clear all</button>
        </div>
      </div>
      <bottom-sheet :res="results" :error="error" hidden></bottom-sheet>
      <fixed-footer></fixed-footer>
    </div>
    
    <script src="{%static 'vue/dist/vue.js'%}" type="text/javascript" charset="utf-8"></script>
    <!--Components-->
    <script src="{%static 'components/EquationInput.js'%}"></script>
    <script src="{%static 'components/FixedFooter.js'%}"></script>
    <script src="{%static 'components/BottomSheet.js'%}"></script>
    <!---->
    <script src="{%static 'main.js'%}"></script>
    
  </body>
</html>